<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Guest Book</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">

<!-- google apis great vibes font -->
<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>

<!-- jQuery library -->
<script src="js/jquery.min.js"></script>

<!-- Popper JS -->
<script src="js/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="js/bootstrap.min.js"></script>

<style type="text/css">
body {
	padding: 10px;
	font-size: xx-large;
	font-family: 'great vibes', calibri;
	color: #290001;
	text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}

input, a, button {
	font-size: x-large;
}
</style>


<script type="text/javascript">
	// image preview
	$(document).ready(function() {
		$(document).on('change', '.btn-file :file', function() {
			var input = $(this), label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
			input.trigger('fileselect', [ label ]);
		});

		$('.btn-file :file').on('fileselect', function(event, label) {
			var input = $(this).parents('.input-group').find(':text'), log = label;
			if (input.length) {
				input.val(log);
			} else {
				if (log)
					alert(log);
			}
		});
		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = function(e) {
					$('#img-upload').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[0]);
			}
		}

		$("#imgInp").change(function() {
			readURL(this);
		});
	});

	// method for edit feature ui changes
	function editMessage(messageId) {
		$('#editNote' + messageId).show();
		$('#messageNote' + messageId).hide();
		$('#editButton' + messageId).hide();
	}

	// validation of note input
	function validateNote() {
		$('#sendButton').prop('disabled', !$('#note').val());
	}

	// validation of image input
	function validateImage() {
		$('#sendButton').prop('disabled', !$('#imgInp').val());
	}
</script>

</head>
<body>

	<div align="center" style="float: left">Guestbook</div>

	<div sec:authorize="isAnonymous()" style="float: right">
		<a href="/login"> Login</a>
	</div>

	<div sec:authorize="isAuthenticated()" style="float: right">
		<form action="/logout" method="get" id="logoutForm">
			<input type="submit" value="Logout " class="btn btn-link btn-lg" />
		</form>
	</div>

	<div style="width: 60%; margin: auto; clear: left">

		<!-- message entry -->

		<div sec:authorize="isAnonymous()" align="center">Please login to leave a message</div>

		<div style="" align="center" sec:authorize="hasRole('USER')">
			<form th:action="@{/guestbook/add}" method="post" enctype="multipart/form-data">
				<div>
					<div th:if="${param.editFailed}">Failed to edit message.</div>

					<div>Please leave us a message!</div>

					<!-- input option -->
					<div>
						<label class="radio-inline">
							<input type="radio" name="messageType" value="note" checked onclick="javascript:$('#imageContainer').hide();$('#note').show();validateNote();">
							Note
						</label>
						<label class="radio-inline">
							<input type="radio" name="messageType" value="picture" onclick="javascript:$('#imageContainer').show();$('#note').hide();validateImage();">
							Picture
						</label>
					</div>

					<!-- text input -->
					<textarea rows="2" cols="50" name="note" id="note" oninput="javascript:validateNote()"></textarea>

					<!-- image input -->
					<div id="imageContainer" style="display: none;">
						<div>
							<input type="file" id="imgInp" name="picture" accept="image/*" style="width: 118px" oninput="javascript:validateImage()">
						</div>
						<!--  image preview -->
						<div style="padding: 10px;">
							<img id='img-upload' style="height: 100px;" />
						</div>
					</div>
				</div>

				<!-- send button -->
				<div>
					<input type="submit" value="Send " class="btn btn-light btn-lg" disabled="disabled" id="sendButton" />
				</div>
			</form>
		</div>

		<div align="center" th:if="${#lists.isEmpty(messages)}" style="padding: 20px;">There are currently no messages to display</div>

		<div th:each="message: ${messages}" style="border-bottom: 1px solid gray; padding: 20px;" align="center">

			<!-- the note -->
			<div th:if="*{message.note != null}" th:text="${message.note}" th:id="@{'messageNote' + ${message.messageId}}"></div>

			<!-- edit note -->
			<div th:if="*{message.note != null}" style="display: none;" th:id="@{'editNote' + ${message.messageId}}">
				<form th:action="@{/guestbook/edit}" method="post">
					<input type="hidden" name="messageId" th:value="${message.messageId}" />
					<div>
						<textarea rows="2" cols="50" name="editedNote" th:text="${message.note}"></textarea>
					</div>
					<input type="submit" value="Save" class="btn btn-light btn-lg" />
				</form>
			</div>

			<!-- the picture -->
			<div th:if="*{message.note == null}" style="padding: 10px;">
				<img id='picture' style="height: 200px; overflow: hidden;" th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(message.picture)}}" />
			</div>

			<!-- the author -->
			<div th:text="@{'~' + ${message.author}}" align="right"></div>

			<!-- admin buttons-->
			<div sec:authorize="hasRole('ADMIN')" class="btn-group">

				<!-- approve button -->
				<div th:if="*{!message.approved}">
					<form th:action="@{/guestbook/approve}" method="post">
						<input type="hidden" name="messageId" th:value="${message.messageId}" />
						<input type="submit" value="Approve" class="btn btn-light btn-lg" />
					</form>
				</div>

				<!-- edit button -->
				<div th:if="*{message.note != null}" th:id="@{'editButton' + ${message.messageId}}">
					<input type="submit" value="Edit" class="btn btn-light btn-lg" th:onclick="@{'javascript:editMessage('+${message.messageId}+')'}" />
				</div>

				<!-- delete button -->
				<div>
					<form th:action="@{/guestbook/delete}" method="post">
						<input type="hidden" name="messageId" th:value="${message.messageId}" />
						<input type="submit" value="Delete" class="btn btn-light btn-lg" />
					</form>
				</div>

			</div>
		</div>
	</div>

</body>
</html>