<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Guest Book</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">

<!-- jQuery library -->
<script src="js/jquery.min.js"></script>

<!-- Popper JS -->
<script src="js/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="js/bootstrap.min.js"></script>

<style type="text/css">
.login-box {
	margin: auto;
	width: 50%;
	padding: 10px;
	border: 1px solid #dbcbbd;
}

.container {
	padding: 100px;
}
</style>

</head>
<body>

	<div class="container">

		<div class="login-box">

			<form th:action="@{/login}" method="post">
				<div class="form-group">
					<label for="username">Username:</label>
					<input type="text" class="form-control" placeholder="Enter email" name="username">
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input type="password" class="form-control" placeholder="Enter password" name="password">
				</div>

				<button type="submit" class="btn btn-secondary">Sign In</button>
				<div th:if="${param.error}">Invalid username and password.</div>
				<div th:if="${param.unauthorized}">You do not have enough permissions to perform this action.</div>
				<div th:if="${param.logout}">You have been logged out.</div>
				<div align="right">
					<a th:href="@{/registration}">Register New User</a>
				</div>
			</form>
		</div>
	</div>
</body>


</html>