<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Guest Book</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">

<!-- google apis great vibes font -->
<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>

<!-- jQuery library -->
<script src="js/jquery.min.js"></script>

<!-- Popper JS -->
<script src="js/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="js/bootstrap.min.js"></script>

<style type="text/css">
.login-box {
	margin: auto;
	width: 40%;
	padding: 10px;
	border: 1px solid #dbcbbd;
}

.container {
	padding: 50px;
}

body {
	padding: 10px;
	font-size: xx-large;
	font-family: 'great vibes', calibri;
	color: #290001;
	text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}

input, a, button {
	font-size: x-large;
}

.error-message {
	color: red;
}
</style>
<script type="text/javascript">
	//javaScript for disabling form submissions if there are invalid fields
	(function() {
		'use strict';
		window.addEventListener('load', function() {
			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.getElementsByClassName('needs-validation');
			// Loop over them and prevent submission
			var validation = Array.prototype.filter.call(forms, function(form) {
				form.addEventListener('submit', function(event) {
					if (form.checkValidity() === false) {
						event.preventDefault();
						event.stopPropagation();
					}
					form.classList.add('was-validated');
				}, false);
			});
		}, false);
	})();
</script>
</head>
<body>

	<div style="float: left">
		<a href="/guestbook"> Home</a>
	</div>



	<div class="container">
		<h2 align="center">Please Login</h2>
		<div th:if="${param.error}" class="error-message" align="center" style="color: re">Invalid credentials.</div>
		<div th:if="${param.unauthorized}" align="center" class="error-message">You do not have enough permissions to perform this action. Please login.</div>
		<div th:if="${param.logout}" align="center">You have been logged out.</div>

		<div class="login-box">
			<form th:action="@{/login}" method="post" class="form-horizontal needs-validation" novalidate>
				<div class="form-group">
					<label for="username">Email:</label>
					<input type="email" class="form-control col-md-8" placeholder="Enter email" name="username" required="required">
					<div class="invalid-feedback">Please enter a valid email address.</div>
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input type="password" class="form-control col-md-8" placeholder="Enter password" name="password" required="required">
					<div class="invalid-feedback">Please enter a password.</div>
				</div>

				<button type="submit" class="btn btn-secondary">Sign In</button>

				<div align="right">
					<a th:href="@{/registration}">Register New User</a>
				</div>
			</form>
		</div>
	</div>
</body>


</html>